@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

body {
	background: linear-gradient(to right, #18181b, #0f172a);
	color: #f1f1f1;
}

.container {
	font-size: 20px;
	width: 90%;
	color: #fff;
	max-width: 1980px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2.5% 5%;
}